<!DOCTYPE html>
<html>

<head>
    <!-- Global Head File -->
    <title>{{title}}-{{mainTitle}}</title>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="bootstrap.css" />
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="axd.css" />
    <style>
        .clearfix {
            padding: 4px;
            background-color: #4881B9;
        }
        .brand_content button.btn-success {
            margin: 8px;
            padding: 3px 6px;
        }
        .brand_content .brand_desc {
            padding: 8px;
        }
        .brand_title,
        .brand_detail {
            max-width: 200px;
        }
    </style>
    <script src="file:///android_assets/axd/js/{{ axd.js }}"></script>
    <!--axd_iframe.js-->
</head>

<body id="adv_body" onload="loadFinish()">
    <div class="axd_container axd_container_top">
        <!-- 曝光 -->
        <div class="axd_expose">
            <img src="{{ axd.exposure_url }}" alt="">
        </div>
        <!-- 关闭按钮 -->
        <a class="axd_cl" href="mjapp://close" onclick="window.carnews.close()">x</a>
        <!-- 广告标识 -->
        <em class="axd_ax">广告</em>
        <div>
            <a href="{{ axd.btn_url }}" target="_blank">
                <!-- 图文内容 -->
                <div class="axd_container_content">
                    <div class="clearfix">
                        <div class="brand_logo fl">
                            <img src="{{ axd.gl.logo.url }}" alt="" width="{{ axd.gl.logo.w }}" height="{{ axd.gl.logo.h }}" />
                        </div>
                        <div class="brand_content fl">
                            <span class="brand_title">{{ axd.gl.title }}</span>
                            <span class="brand_detail">{{ axd.gl.detail }}</span>
                        </div>
                    </div>
                    <div class="brand_content">
                        <span class="brand_desc">{{ axd.gl.desc }}{{ axd.gl.desc }}{{ axd.gl.desc }}{{ axd.gl.desc }}{{ axd.gl.desc }}</span>
                        <button class="btn btn-success">了解更多</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <script src="jquery.js"></script>
</body>

</html>
